@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  width: 100% !important;
  height: 100%;
  min-height: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

.sidebar-logo img {
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 10px;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.ck.ck-editor__editable_inline {
  border: 1px solid #ccced1 !important;
}

/* button */
.btn-edit {
  color: #2563eb;
}
.btn-trash {
  color: #ef4444;
}
.btn-preview {
  color: #047857;
}
.btn-recover {
  color: #65a30d;
}
.btn-delete {
  color: #ef4444;
}
/* Optional: Style for the disabled link */
.disabled-link {
  color: gray; /* Change the color to visually indicate it's disabled */
  pointer-events: none; /* Disable pointer events to prevent clicks */
  cursor: not-allowed; /* Change the cursor */
}

/* SLIDER SWIPER */

.mySwiper {
  width: 100%;
  height: 400px;
}
/* .mySwiper .swiper-slide {
  height: 50%;
  width: 50%;
} */

.mySwiper .swiper-slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.mySwiper1 {
  /* width: 100%; */
  /* height: 20%; */
  height: fit-content;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper1 .swiper-slide {
  /* width: 10%; */
  /* height: 100%; */
  opacity: 0.7;
  padding: 10px;
}

.mySwiper1 .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper1 .swiper-slide img {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}
.mySwiperCard {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
.mySwiperCard .swiper-slide {
  width: 100%;
  height: 100%;
}

.mySwiperCard .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.mySwiperCard .swiper-wrapper {
  padding-bottom: 4px;
}
/* .swiper-button-prev,
.swiper-button-next {
  visibility: hidden;
} */

.btn-swiper .swiper-button-prev{
  color: red;
}
.btn-swiper .swiper-button-next {
  color: red;
}
.swiper {
  z-index: 1 !important;
}
@media screen and (max-width: 640px) {
  .btn-swiper .swiper-button-next:after {
    --swiper-navigation-size: 20px;
  }
  .btn-swiper .swiper-button-prev:after {
    --swiper-navigation-size: 20px;
  }
}

/* CSS dangerouslySetInnerHTML*/
.editor td {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}
.editor th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

.editor tr:nth-child(even) {
  background-color: #eee;
}

.editor th[scope="col"] {
  background-color: #696969;
  color: #fff;
}

.editor th[scope="row"] {
  background-color: #d7d9f2;
}

.editor img {
  margin-bottom: 20px;
  max-width: 100%;
  /* object-fit: contain; */
  height: auto;
  pointer-events: none;
}
.editor figure {
  margin: 0;
}

.editor table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  overflow: hidden;
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .editor table {
    font-size: 14px;
  }
  .editor figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.zalo-chat-widget {
  z-index: 1000;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}
.ant-menu-inline {
  border-right: none !important;
}
.menu-title .ant-menu-title-content {
  font-size: 18px;
  font-weight: 500;
}

/* CUSTOM SCROLL */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
/* NO SCROLL DRAWER */
.ant-drawer-body::-webkit-scrollbar {
  display: none;
}
.ant-drawer-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
